@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

/* Additional styles go here */
header {
  padding: 0 0.25rem;
  margin-bottom: 2rem;
}

/* Bootstrap Fix */
.row {
  padding: 0 1.25rem;
}

h1 {
  font-family: 'Aclonica', Serif;
}

body {
  background-image: url("citytile1.jpg");
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}