
  <%- include('../partials/head'); %>

<header>
  <%- include('../partials/nav'); %>
</header>

<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1>Home</h1>
        <p>
          Welcome to your project.
        </p>
        <br>
        <br>

        <p align="right">
          <input type="button" value="Your Profile" />
        </p>
        <br>
        <br>
        <p align="center">
          <input type="button" value="Local Map" />
          <input type="button" value="Your Stream" />
          <input type="button" value="Post Archives" />
          <input type="button" value="Saved Posts" />
        </p>
        <br>
        <br>
      
           <left><input type="button" value="New Post" />
        </p>
        
<a href="index.html" data-role="button" data-inline="true">Cancel</a>
<a href="index.html" data-role="button" data-inline="true" data-theme="b">Save</a>
        </p> <p align-text: right> </p><p </right> <input type="button" value="Settings" /> 
      
      </div>
    </div>
  </div>
</main>

  <%- include('../partials/footer'); %>
  <html>
<head>
<style>
h1 {text-align: center;}
</style>
</head>
<body>
