
  <%- include('../partials/head'); %>

  <header>
    <%- include('../partials/nav'); %>
  </header>
  
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1>Your Stream</h1>
         <center>
            <% for (let i = 0; i < recentPosts.length; i++) { %>
              <p><%= recentPosts[i].post %></p> <br>
            <% } %></center>
        </div>
      </div>
    </div>
  </main>


  
    <%- include('../partials/footer'); %>
  